.third-project {
   margin-top: 25px;

    .movie-image-1{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    article{
        display: flex;
    }

    .movie-description{
        margin-left: 1.5rem;
        display: flex;
         flex-direction: column;
    }
}

@media (max-width: 648px) {
    .third-project {
   margin-top: 25px;

    .movie-image-1{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    article{
        display: block;
    }

    .movie-description{
        margin-left: 0rem;
        display: flex;
         flex-direction: column;
    }
}

}