@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{
 font-family: 'Montserrat', sans-serif;
 padding: 20px 130px;
 background: black;
 color: #ffff
}

*{
    box-sizing: border-box;
}

@media (max-width: 648px) {
      body{
           padding: 20px;
      }
      *{
    box-sizing: border-box;
}

}